# dockerfiles/fastapi/requirements.txt

# ── API ─────────────────────────────────────────────────────────────
fastapi>=0.116
uvicorn>=0.27

# ── ML ─────────────────────────────────────────────────────────────
scikit-learn==1.4.2
category-encoders==2.6.3
numpy==1.26.4
pandas==2.2.2

# ── MLflow + storage ───────────────────────────────────────────────
mlflow==2.13.0
boto3==1.34.101
psycopg2-binary==2.9.9

# ── Utils ───────────────────────────────────────────────────────────
setuptools==69.5.1